.footer-copyright {
  background-color: #282c35;
  padding-top: 3px;
  padding-bottom: 3px;
}

.footer-copyright p {
  margin: 10px;
  color: #ccc;
}

.my-footer {
  background-color: #2c3e50;
  color: white;
}

.my-footer ul {
  list-style-type: none;
  padding-left: 0;
  line-height: 1.7;
}

.my-footer h5 {
  font-size: 18px;
  color: white;
  font-weight: bold;
  margin-top: 30px;
}

.my-footer a {
  color: #d2d1d1;
  text-decoration: none;
}

.my-footer a:hover, .my-footer a:focus {
  text-decoration: none;
  color: white;
}